.content {
  margin: auto;
  padding: 30px;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}
.slick-slide .image {
  padding: 10px;
}
.slick-slide img {
  border: 5px solid #fff;
  display: block;
  width: 100%;
}
.slick-slide img.slick-loading {
  border: 0;
}
.slick-prev:before, .slick-next:before {
  color: black;
}